body {
  background-color: #E9967A;
}

.title {
  font-size: 30px;
  text-decoration: underline;
  font-family: Georgia;
  background-color: white;
  text-align: center;
}

th {
  text-align: center;
  text-decoration: underline;
}

.row-title {
  color: white;
}

img {
  height: 150px;
  width: 200px;
  text-align: center;
}

.highlight {
  box-shadow: 5px 5px 5px white;
}

.specific {
  height: 250px;
  width: 400px;
  text-align: center;
}

.centered {
  text-align: left;
  font-size: 30px;
  text-decoration: underline;
  font-weight: bold;
  font-family: Georgia;
  padding-left: 175px;
}

.text {
  text-align: right;
  font-size: 30px;
  text-decoration: underline;
  font-weight: bold;
  font-family: Georgia;
  padding-right: 100px;
}

.text-muted {
  font-family: Georgia;
}

.heading {
  font-size: 30px;
  text-decoration: underline;
  font-family: Georgia;
  text-align: center;
}

.information {
  text-align: center;
  background-color: white;
  font-family: Georgia;
  line-height: 2;
}

.carousel-item img{
  height: 400px;
  width: 300px;
  padding-left: 60px;
  padding-right: 60px;
}

a {
  color: white;
}

a:hover {
  color: #E9967A;
}

h5 {
  text-decoration: underline;
  background-color: #E9967A;
}

.row {
  padding-left: 270px;
}

.btn {
  color: #E9967A;
}

.card img {
  padding-top: 10px;
}

.infoPics {
  text-align: center;
  width: 100%;
}

.infoPics img {
  width: 100%;
  height: 200px;
}

.infoPics table {
  width: 100%;
}

.infoPics td {
  width: 33%;
  height: 200px;
}
